<!DOCTYPE html>
<html>
  <head>
    <title>WotMastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class='flex flex-col min-h-screen'>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
